.SearchBar {
    width: 100%;
    height: auto;
    position: relative;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 19px 41px;
    overflow-x: auto;
}

.SearchBar .select>div {
    border: none !important;
}

.SearchBar .select,
.SearchBar button {
    width: 100%;
    max-width: 230px;
}

.SearchBar .select>div {
    padding-bottom: 0px;
    padding-left: 0px !important;
    border-bottom: 1px solid #999 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.SearchBar .select>div:hover,
.SearchBar .select>div:focus {
    box-shadow: none !important;
}

.SearchBar .select span,
.SearchBar .filters .sortSection .sortSelect span {
    color: black !important;
    font-size: 17px;
}

.SearchBar .select span:last-of-type {
    margin-top: -6px !important;
}