.UpdatedHeader {
    position: relative;
}

.headerContainer {
    transition: all 0s ease;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sticky .searchBar {
    margin-top: -110px;
}

.sticky .searchBar .nav {
    margin-top: -110px;
}


.UpdatedHeader header {
    padding: 19px !important;
}

.UpdatedHeader .right {
    display: flex;
    align-items: center;
    gap: 23px;
}

.UpdatedHeader .logo img {
    width: 130px !important;
}

.UpdatedHeader .searchBar {
    transition: 0.5s all ease-in-out;
}

.UpdatedHeader nav {
    transition: 0.5s all ease-in-out;
}

.UpdatedHeader .searchBar>div {
    padding: 10px 23px !important;
}

.UpdatedHeader .Divider {
    height: 32px !important;
    padding: 0px 10px !important;
}

.UpdatedHeader label {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    color: #222222;
    /* width: 100%; */
}

.UpdatedHeader .select {
    height: 30px !important;
}

.UpdatedHeader .select>div {
    background-color: transparent !important;
    border: none !important;
    height: 30px !important;
    padding-left: 0px !important;
}

.UpdatedHeader .select>div span {
    font-size: 0.875rem !important;
    color: #222222 !important;
    font-weight: 200;
}